node_modules/
frontend/node_modules/
package-lock.json
backend/config/env.config.js
backend/config/db.config.js
logs/
cache/
build/
.DS_Store
.env.local
.env.development
uploads/

carouselItemPseudocode.txt
marquee-test.css
marquee-test.html
profile-copy.html