* {
  font-family: cursive;
}

nav {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  margin-left: 30%;
  object-fit: fill;
}

smart-carousel {
  --smart-carousel-default-width: 100%;
  --smart-background: none;
  display: flex;
  justify-content: space-between;
  height: 225px;
}

#bucket-list {
  display: flex;
  justify-content: center;
  object-fit: fill;
  width: 95%;
  margin-top: 20px;
  list-style: none;
}
/* 
.bucket-list-item {

}

.bl-card-body {

} */

.bl-card-header {
  display: flex;
  justify-content: center;
}

.bl-location-button {
  width: 90%;
  height: 30px;
  background-color: rgb(153, 39, 39);
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.bl-location-button:click {
  color:rgb(153, 39, 39);
  background-color: white;
}
.bl-item-label {
  display: flex;
  font-size: small;
  justify-content: center;
  text-align: center;
  color: white;
}

.bl-card-image {
  display: flex;
  justify-content: center;
}

.bl-location-image {
  height: 150px;
  border-radius: 15px;
}

.bl-buttons-footer {
 display: flex;
 justify-content: center;
}

.btn {
  border-radius: 20px;
  width: 45px;
  background-color: rgb(153, 39, 39);
  color: white;
}

.btn:hover {
  opacity: 50%;
}
