/* settings for the carousel area itself */
* {
  font-family: cursive;
/* root styling from main.css, for easy color scheme reference */
    --primary-color: #004e5a;
    --secondary-color: #e3dbb7;
    --background-color: #ffffff;
    --modal-overlay-color: rgba(0, 0, 0, 0.4);
    --modal-content-background: #fff;
    --modal-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }

nav {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  object-fit: fill;
}

marquee {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 285px;
  width: 100%;
  border-width: 0px;
  margin-left: auto;
  margin-right: auto;
  background-color: none;
}

/* .smart-carousel-item {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  transition: none;
}

.smart-carousel-item.smart-active {
  background-color: #e3dbb7;
  border-radius: 20px;
  transition: none;
}

/* from node-module file smart.default.css - wanted to change background color  */
/* smart-carousel[display-mode=multiple] .smart-carousel-item.smart-active {
  background-color: #51a5b0;
  border-radius: 20px;
  transition: none;
} */

/* .items-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.smart-arrow {
  background-color: #004e5a;
  color: #ffffff;
  border-radius: 40%;
  width: 50px;
  max-height: 15%;
  margin-top: 75px;
  cursor: pointer;
} */

#bucket-list {
  display: flex;
  justify-content: center;
  align-content: center;
  object-fit: fill;
  width: 95%;
  list-style: none;
}

.bl-card-item {
  display: flex;
  justify-content: center;
  margin: 10px;
  padding: 10px;
  border-radius: 15px;
}

.bl-card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

/* displays destination.name, destination.country, and destination.image */
.bl-card-main {
  background: linear-gradient(to bottom, #004e5a, #51a5b0, #ffffff);
  width: 375px;
  border-radius: 15px;
}

.bl-card-header {
  display: flex;
  justify-content: center;
  width: 100%;
  
}
/* displays destination.name and destination.description */
#info-modal {
  display: relative;
  justify-content: center;
  align-items: center;
  background-color: var(--modal-overlay-color);
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#info-modal-content {
  width: 200px;
  height: 250px;
  background-color: rgb(255, 240, 232);
  color: var(--primary-color);
  border-radius: 15px;
  overflow-y: scroll;
}

.destination-description p {
  font-size: 15px;
}

.hidden {
  display: none;
}

.visible {
  display: block;
}

.bl-card-header {
  display: flex;
  justify-content: center;
}

.bl-location-button {
  width: 90%;
  height: 30px;
  background-color: #004e5a;
  border-radius: 5px;
  cursor: pointer;
}

.bl-item-label {
  display: flex;
  font-size: 20px;
  justify-content: center;
  text-align: center;
  color: white;
}

.bl-card-image {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

.bl-location-image {
  height: 150px;
  border-radius: 15px;
}

.bl-buttons-footer {
  display: flex;
  justify-content: center;
}

/* part of the button footer */
.btn {
  border-radius: 20px;
  width: 45px;
  background-color: #004e5a;
  color: white;
  cursor: pointer;
}

.btn:active {
  background-color: #00bafe;
  color: #933838;
}

.btn:hover {
  background-color: white;
  color: #933838;
  opacity: 50%;  
}