/* settings for the carousel area itself */
* {
  font-family: cursive;
/* root styling from main.css, for easy color scheme reference */
    --primary-color: #004e5a;
    --secondary-color: #e3dbb7;
    --background-color: #ffffff;
    --modal-overlay-color: rgba(0, 0, 0, 0.4);
    --modal-content-background: #fff;
    --modal-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }

nav {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  object-fit: fill;
}

marquee {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 285px;
  width: 100%;
  border-width: 0px;
  margin-left: auto;
  margin-right: auto;
  background-color: none;
}

#bucket-list {
  display: flex;
  justify-content: center;
  align-content: center;
  object-fit: fill;
  width: 95%;
  list-style: none;
}

.bl-card-item {
  display: flex;
  justify-content: center;
  margin: 10px;
  padding: 10px;
  border-radius: 15px;
}

.bl-card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

/* displays destination.name, destination.country, and destination.image */
.bl-card-main {
  background: linear-gradient(to bottom, #004e5a, #51a5b0, #ffffff);
  width: 375px;
  border-radius: 15px;
}

.bl-card-header {
  display: flex;
  justify-content: center;
  width: 100%; 
}

.bl-item-label {
  display: flex;
  font-size: 20px;
  justify-content: center;
  text-align: center;
  color: white;
}

.bl-card-image {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

.bl-location-image {
  height: 150px;
  border-radius: 15px;
}

.bl-buttons-footer {
  display: flex;
  justify-content: center;
}

/* part of the button footer */
.bl-btn {
  border-radius: 20px;
  width: 45px;
  background-color: #004e5a;
  color: white;
  cursor: pointer;
}

.check-button {
  border-radius: 20px;
  width: 45px;
  color: #004e5a;
  background-color: white;
  cursor: pointer;
}

/* displays destination.name and destination.description */
#info-modal {
  display: relative;
  justify-content: center;
  align-items: center;
  background-color: var(--modal-overlay-color);
  position: relative;
  border-radius: 15px;
}

#info-modal-content {
  display: absolute;
  text-align: j;
  text-align-last: center;
  height: 250px;
  background-color: rgb(255, 240, 232);
  color: var(--primary-color);
  border: 5px solid var(--primary-color);
  width: fit-content;
  overflow-y: scroll;
}